header{
background-color:green;
padding:10px;
}
.pages{
text-align:center;
}
.pages a{
text-decoration:none;
color:white;
font-weight:bold;
padding: 10px 15px;
}
/* Dropdown */
  .dropdown {
    position: relative;
display: inline-block; /* Keeps Services on the same line */
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background: #333;
    top: 40px;
flex-direction: column;
  min-width: 150px;
  }
  .dropdown-content a {
    display: block;
    padding: 8px 15px;
  }
  .dropdown:hover .dropdown-content {
    display: flex;
}
#logo{
width:70px;
height:40px;
float:left;
margin-top:-15px;

}
#telesom{
width:50%;
float:left;
margin-top:3px;

}
h2{
background-color:green;
color:white;
text-align:center;

}
#sawir{
width:120px;
height:80px;
float:left;

}
main{
display:flex;
justify-content:space-between;
padding:10px;
}

.section1{
width:48%;
float:left;
padding:7px;
}
.section2{
width:50%;
padding:7px;
}
h5{
color:blue;
text-align:center;
}
.section3{
padding:7px;
}
button{
background-color:green;
color:white;
padding:10 15;
border:none;

}
footer{
display:flex;
background-color:green;
color:white;
justify-content:space-between;

}
.fleft{
float:left;
}


.fcenter a{
display:block;
text-decoration:none;
color:white;
padding:5px;
}




